<ng-include src="'templates/static/_menu.html'"></ng-include>
<div class="container">
  <div style="margin: auto; width: 10%;">
    <button ng-click='showForm = true' type="button" class="btn btn-default navbar-btn">Добавить тур</button>
  </div>
</div>
<div class="container">
  <div class="row" ng-show='showForm'>
    <form>
      <div class="form-group">
        <label>Название тура</label>
        <input class="form-control" type="text" ng-model="newTour.title" />
      </div>
      <div class="form-group">
        <label>Цена</label>
        <input class="form-control" type="text" ng-model="newTour.price" />
      </div>
      <div class="form-group">
        <label>Страна</label>
        <select ng-model="newTour.country" ng-options="country.title as country.title for country in countries track by country.title"></select>
      </div>
      <div class="form-group">
        <label>Описание тура</label>
        <textarea class="form-control" rows="3" ng-model="newTour.text"></textarea>

      </div>
      <div class="pull-right">
        <button ng-click='addTour()' class="btn btn-default" type="submit">Добавить</button>
        <button ng-click='showForm = false' class="btn btn-default">Отклонить</button>
      </div>
    </form>
  </div>
  <div class="row" ng-repeat='tour in tours' ng-model='allTours' style="margin: 40px 0;">
    <div class="col-md-2">
      <img ng-src="images/{{tour.slug}}.png" style="height: 150px;" />
    </div>
    <div class="col-md-10">
      <div class="row" ng-show='showTour'>
        <div class="row">
          <a ng-href="/#/tour/{{tour.slug}}">{{tour.title}}</a>
          <span ng-show='tour.country' class="label label-info"> из {{tour.country}}</span>
          <p class="pull-right">{{tour.price}}</p>
        </div>
        <div class="row">
          <p>{{tour.text}}</p>
        </div>
        <div class="row">
          <div class="pull-right">
            <a ng-click='showTour = false' href='#' >Редактировать</a>
            <a href='#' ng-click='deleteTour($index)'>Удалить</a>
          </div>
        </div>
      </div>
      <div class="row" ng-hide='showTour'>
        <form>
          <div class="form-group">
            <input class="form-control" type="text" ng-model="tour.title" width="500" />
            <input class="form-control pull-right" type="text" ng-model="tour.price" />
          </div>
          <div class="form-group">
            <label>Страна</label>
            <select ng-model="tour.country" ng-options="country.title as country.title for country in countries track by country.title"></select>
          </div>
          <div class="form-group">
            <label>Описание тура</label>
            <textarea class="form-control" rows="3" ng-model="tour.text"></textarea>

          </div>
          <div class="pull-right">
            <button ng-click='saveTour(); showTour=true' class="btn btn-default" type="submit">Сохранить</button>
            <button ng-click='deleteTour($index)' class="btn btn-default" type="submit">Удалить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
