<h1>{{tour.title}}</h1>

<div class="container">
  <div class="col-md-2">
    <img ng-src="images/{{tour.slug}}.png" style="height: 200px;" />
  </div>
  <div class="col-md-10">
      <div class="row">
        <span ng-show='tour.country' class="label label-info"> из {{tour.country}}</span>
        <span ng-show='tour.place' class="label label-danger"> в {{tour.place}}</span>
        <p class="pull-right">{{tour.price}} за {{tour.duration}} </p>
      </div>
      <div class="row">
        <p>{{tour.text}}</p>
      </div>
  </div>
</div>
